<html>
    <head>
        <title>Reka Twige Coding</title>
    </head>
    <body>
        <div>
          <h1><a href="/">Amagambo Nabonye None</a></h1>
        </div>

        <div>
          <p>published: 16.06.2019, 1:38</p>
          <h2><a href="/">My first post</a></h2>
          <p>Aha nihobandika amagambo! Nizereko ntibeshye! Haha!! Reka tuze kurebako aribyo</p>
        </div>

        <div>
          <p>published: 18.06.2019, 1:42</p>
          <h2><a href="">My second post</a></h2>
          <p>Igice cya kabiri cy'inyandiko y'urubuga rwo kwo kwigiraho. Nabyo tubirebe</p>
        </div>
    </body>
</html>
